﻿@model CoffeeProject.ViewModel.RandomCaffeeViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* 
   This is a comment 
    On multiple lines
*@

@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null; 
}

<h2 class="@className">@Model.Caffee.name</h2>

@if (Model.Customers.Count == 0)
{
    <text>No one has buy this caffee before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

